<div id="home" class="pt-28 flex justify-between flex-col md:flex-row items-center gap-3">
    <div class="flex flex-col md:justify-center items-center md:items-start gap-5 md:w-1/2">
        <div class="flex items-center gap-5 justify-center md:justify-between w-full">
            <p class="text-lg md:text-2xl font-medium text-primary">Hello!</p>
            <img src="assets/images/stars.png" alt="stars">
        </div>
        <p class="text-xl md:text-6xl font-medium my-4 md:my-7" [@slideInFromLeftAnimation]="{value: 'slideInFromLeftAnimation', params: {duration: 700}}">I'm <span class="text-primary">Satenik Hakhverdyan</span></p>
        <p class="text-lg md:text-2xl" [@slideInFromLeftAnimation]="{value: 'slideInFromLeftAnimation', params: {duration: 1400}}">A Freelance <span class="text-primary">Fron-Ent Developer</span></p>
        <div class="flex items-center gap-6 pt-4 md:pt-20 pb-20 md:pb-0" [@slideInFromLeftAnimation]="{value: 'slideInFromLeftAnimation', params: {duration: 2100}}">
            <button class="bg-primary hover:bg-transparent text-white hover:text-primary text-xs rounded-lg py-2 px-5 border-2 border-transparent hover:border-primary uppercase"
                    (click)="scrollIntoView('#contact')">
                Hire me
            </button>
            <button class="bg-transparent hover:bg-primary text-primary hover:text-white text-xs rounded-lg py-2 px-5 border-2 border-primary hover:border-transparent uppercase"
                    (click)="scrollIntoView('#projects')">
                My works
            </button>
            <img src="assets/images/arrow-left.png" alt="arrow-left" class="w-20" />
        </div>
    </div>
    <img src="assets/svg/about.svg" class="w-full md:w-1/2 max-w-[300px] md:max-w-[500px] object-contain" @slideInFromRightAnimation />
</div>
