<div id="contact" class="pb-10 md:py-20">
    <div class="flex flex-col md:gap-2 text-center mx-auto mb-8 w-fit">
        <span class="section-header">Contact me</span>
        <div class="w-full h-[1px] md:h-1 bg-gradient-to-r from-primary rounded-lg"></div>
    </div>
    <div class="text-center pt-8 pb-20">
        <p class="text-sm md:text-3xl">I'm <span class="text-primary">Available</span> for freelancing</p>
        <p class="text-xs md:text-xl my-8">Currently open to freelance opportunities, ready to apply my frontend development expertise to bring your projects to fruition with precision and creativity.</p>
        <div class="flex items-center justify-center gap-5">
            <img src="assets/images/arrow-right.png" alt="arrow right">
            <a class="bg-primary hover:bg-transparent text-white hover:text-primary text-xs rounded-lg py-2 px-5 border-2 border-transparent hover:border-primary uppercase relative top-8"
               href="mailto:info@yoursite.com">
                Hire me
            </a>
        </div>
    </div>
    <div class="flex flex-col lg:flex-row gap-14 items-center justify-between">
        <img src="assets/svg/contact.svg" alt="Contact Me Image" class="max-w-[500px] w-full" />
        <div class="flex flex-col gap-2 lg:w-1/2 text-secondary">
            <div class="flex items-center gap-4 text-xs md:text-base font-semibold bg-violet-100 p-7 rounded-lg">
                <lucide-angular [name]="icons.User" class="my-icon"></lucide-angular>
                <p>Satenik Hakhverdyan</p>
            </div>
            <a class="cursor-pointer flex items-center gap-4 hover:text-primary text-xs md:text-base font-semibold bg-violet-100 p-7 rounded-lg" href="mailto:info@yoursite.com">
                <lucide-angular [name]="icons.Mail" class="my-icon"></lucide-angular>
                <span class="relative bottom-[2px]">hakhverdyansatenik&#64;gmail.com</span>
            </a>
            <a class="cursor-pointer flex items-center gap-4 hover:text-primary text-xs md:text-base font-semibold bg-violet-100 p-7 rounded-lg" href="https://github.com/Satenik15/" target="_blank">
                <lucide-angular [name]="icons.Github" class="my-icon"></lucide-angular>
                <span>My Github</span>
            </a>
            <a class="cursor-pointer flex items-center gap-4 hover:text-primary text-xs md:text-base font-semibold bg-violet-100 p-7 rounded-lg" href="https://linkedin.com/in/satenik-hakhverdyan-602848207" target="_blank">
                <lucide-angular [name]="icons.Linkedin" class="my-icon"></lucide-angular>
                <span>My Linkedin</span>
            </a>
            <div class="flex items-center gap-4 text-xs md:text-base font-semibold bg-violet-100 p-7 rounded-lg">
                <lucide-angular [name]="icons.Globe" class="my-icon"></lucide-angular>
                <p>Worldwide</p>
            </div>
            <div class="flex items-center gap-4 text-xs md:text-base font-semibold bg-violet-100 p-7 rounded-lg">
                <lucide-angular [name]="icons.BriefcaseBusiness" class="my-icon"></lucide-angular>
                <p>Front-End Developer</p>
            </div>
        </div>
    </div>
</div>